
.pfp{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
}


.nave{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 25px;
    padding-right: 50px;
    align-items: center;
}

*{
    margin: 0px;
    text-decoration: none;
}

a{
    color: black
}

.sec1{
    height: 500px;
    background-color: slategray;
}

.J1{
    display: flex;
}

img{
    transition-duration: 700ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-delay: 100ms;
}

img:hover{
    box-shadow: 10px 10px 5px rgb(109, 109, 109);
}

.img1{
    height: 250px;
    width: auto;
    border-radius: 5%;
    position: absolute;
    top: 20%;
    left: 65%;
}


.all1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 50%;
    bottom: 60%;
    flex: 1;
}

.paragraph1{
    max-width: 500px;
    max-height: 200px;
    font-size: larger;  
}

.title1{
    margin-bottom: 20px;
    font-size: x-large;
    font-family: fantasy;
    text-decoration: underline;
}

.button1{
    margin-top: 60px;
}

.btn1{
    height: 40px;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.29);
    color:white;
    font-family: monospace;
    transition-duration: 700ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.btn1:hover{
    background-color: rgb(255, 255, 255, 0.29);
    color:rgba(0, 0, 0)

}

.imgs1{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 2px solid gray;
}

.imgs2{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 2px solid gray;
}

.imgs3{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 2px solid gray;
}

.imgs4{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border: 2px solid gray;
}

.imgs11{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 30px; 
    justify-content:space-evenly;
    margin-top: 100px;
    align-items:center;
}



.title2{
    display:flex;
    justify-content: center;
    font-family: monospace;
    background-color: gray;
    border: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 1000ms;
    transition-property: all;
    transition-timing-function: ease-in;
    align-items: center; 
}


.title2:hover{
    background-color: rgba(0, 0, 0, 0.337);
    border: 3px solid gray;
}

.para1{
    margin-top: 30px;
}

.para2{
    margin-top: 30px;
}

.para3{
    margin-top: 30px;
}

.para4{
    margin-top: 30px;
}

.sec3 {
    background-image: url(/img/Halo_TMCC_Reach_KeyArt_Vert_Final.0.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    height: 300px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    position: absolute;
    top: 56%;
    height: 500px;
    width: 1500px;
    transition-duration: 1000ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.sec3:hover{
    transform: translateY(500px);
}

.quote {
    font-size: 2em; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    text-shadow: 2px 2px 4px rgba(0, 87, 35, 0.5); /* Add a text shadow for better readability */
    padding-top: 250px;
}


.by{
    position: absolute;
    bottom: 30%;
    right: 30%;
}
